<div class="filter-container">
    <h2>Total tareas: {{this.filteredTodos.length}}</h2>

    <div class="filter-section">
        <p>Filtrar:</p>
        <app-combobox 
            [items]="listCombobox"
            [displayProperty]="'name'"
            [startItem]="listCombobox[0]"
            (itemSelected)="onStatusSelected($event)">
        </app-combobox>
    </div>
    <button class="large blue" (click)="createTask()">Crear tarea</button>
</div>

<app-task-list [tasks]="filteredTodos"></app-task-list>