<div class="create-task-container">
    <h3>Crear nueva tarea</h3>

    <div class="task-container">
        <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
            <div class="option">
                <label for="taskName">Nombre de la tarea</label>
                <input type="text" id="taskName" formControlName="taskName" placeholder="Escribe el nombre de la tarea">
            </div>

            <div class="option">
                <label for="dueDate">Fecha límite</label>
                <input type="date" id="dueDate" formControlName="dueDate">
            </div>

            <!-- Personas asociadas -->
            <div formArrayName="people">
                
                <div class="section-title">
                    <h4>Asociar persona</h4>
                    <i class="fa-solid fa-user-plus" (click)="addPerson()"></i>
                </div>

                <div *ngFor="let person of people.controls; let i = index" [formGroupName]="i" class="form-people">
                    <div class="add-person-container">
                        <i class="fa-solid fa-xmark" title="Eliminar tarea"></i>

                        <input type="text" formControlName="name" placeholder="Nombre completo">
                        <input type="number" formControlName="age" placeholder="Edad">

                        <!-- Habilidades -->
                        <div formArrayName="skills" class="add-skill-container">
                            <div *ngFor="let skill of getSkills(i).controls; let j = index" class="skill">
                                <input [formControlName]="j" placeholder="Añadir habilidad">

                                <i class="fa-solid fa-trash" (click)="removeSkill(i, j)" *ngIf="j < getSkills(i).length - 1"></i>

                                <!-- Mostrar el botón de agregar solo en el último input -->
                                <span *ngIf="j === getSkills(i).length - 1" (click)="addSkill(i)">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Mostrar la lista de personas asociadas solo si hay al menos una persona -->
    <!-- <ul class="person-save">
        <h4>Personas asociadas:</h4>
        <li *ngFor="let person of taskForm.get('people')?.value; let i = index" class="person-list">
            <span class="remove-icon">
                <i class="fa-solid fa-trash" (click)="removePerson(i)"></i>
            </span>

            <div class="person-details">
                <p class="person-name">Nombre: {{ person.name }}</p>
                <p class="person-age">Edad: {{ person.age }}</p>

                <p class="person-skills">
                    <strong>Habilidades:</strong>
                    <span *ngIf="person.skills && person.skills.length > 0">
                        {{ person.skills.join(', ') }}
                    </span>
                    <span *ngIf="person.skills.length === 0">Sin habilidades</span>
                </p>
            </div>
        </li>
    </ul> -->

    <button (click)="saveTask()" class="large blue" style="margin-top: 15px;">Guardar tarea</button>
</div>
