/* Estilos Mobile First */
.content {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    
        .header {
            h2 {
                font-size: 20px;
                margin: 10px 0;
                color:var(--color-font)
            }
    
            .filter-section {
                gap: 10px;
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 1rem;

                
                p {
                    font-size: 13px;
                    margin:0;
                    margin-right: 5px;
                }
        
            }
        }

        /* Ajustes para pantallas más grandes */
        @media (min-width: 768px) {
        .header {
            padding: 0 20px ;
            h2 {
                font-size: 24px;
            }
    
            .filter-section {
                flex-direction: row;

                p {
                    font-size: 16px;
                }
            }
        }
        }
    
        @media (min-width: 1024px) {
        .header {
            padding: 10px 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            h2 {
                font-size: 20px;
            }
    
            .filter-section {
                display: flex;
                justify-content: flex-end;
                max-width: 600px;
            }
        }
        }
}
